<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to Clan</h1>

    <a th:href="@{/rowstat}">Добавить статистику матча</a>

    <p>Статистика тиража</p>
    <form action="#" th:action="@{/drawstat}" th:object="${data}" method="post">
        <input type="text" th:field="*{size}">
        <input type="submit" value="Analyze draws">
    </form>

    <br/>
    <br/>

    <p>Статистика матча</p>
    <form action="#" th:action="@{/gamestat}" th:object="${data}" method="post">
        <input type="text" th:field="*{tournamentName}" placeholder="tournamentName" th:size="40">
        <input type="text" th:field="*{homeTeamName}" placeholder="homeTeamName">
        <input type="text" th:field="*{awayTeamName}" placeholder="awayTeamName">
        <br/>
        <p>Показатели FON</p>
        <input type="text" th:field="*{fonHome}">
        <input type="text" th:field="*{fonDraw}">
        <input type="text" th:field="*{fonAway}">
        <br/>
        <p>Показатели MAN</p>
        <input type="text" th:field="*{manHome}">
        <input type="text" th:field="*{manDraw}">
        <input type="text" th:field="*{manAway}">
        <br/>
        <br/>
        <input type="submit" value="Get game stat">
    </form>
</body>
</html>